/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Copse&family=Quicksand:wght@300..700&display=swap');
/* colors */
/* #DAFDBA #9AEBA3 #45C4B0 #13678A #012030 */


*,
*:before,
*:after {
    box-sizing: border-box;
    padding: 0;
    margin: 0
}

body {
    background: #012030;
    font-size: 20px;
    color: white;
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 550;
    font-style: normal;

    transition: 0.2s;
    animation: fadeIn 0.9s;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 
        1fr;
    grid-template-areas:
    "heady"
    "suby"
    "aside1"
    "mainy"
    "aside2"
    "navvy"
    "footy";
}

header{grid-area: heady;}
nav{grid-area: navvy; background: #0a375a;}
#subhead{grid-area: suby; background: #13678A;}/* color: #012030;}*/
main{grid-area: mainy;}
#aside1{grid-area: aside1; background: #0a375a;}
#aside2{grid-area: aside2; background: #0a375a;}
footer{grid-area: footy; background: #13678A;}/* color: #012030; #299ea2}*/

header, nav, section,
aside, footer {
    padding: 1.5em;
}

header, footer, #subhead, figure {
    text-align: center;
}

#aside1, #aside2 {
    padding-left: 2em;
    padding-right: 2em;
}
main {
    padding-left: 2em;
    padding-right: 2em;
}


h1, h2, h3 {
    font-family: "Caprasimo", serif;
    font-weight: 400;
    font-style: normal;
    padding: .2em 0;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 1.8em;
}

h3 {
    font-size: 1.3em;
}

h4 {
    font-size: 1.1em;
}

p {
    margin: 1.8em 0;
    line-height: 1.8em;
}

img {
    object-fit: contain;
    max-width: 100%;
}

.further a {
    color:#ffffff;
    transition: 0.1s;
    margin: 1.8em 0;
    line-height: 1.8em;
}
a:hover{
    color:#9AEBA3;
}

#for-head{
    opacity: 30%;
    max-width: none;
    object-fit: cover;
    width: 100%;
    object-position: top;
}

nav ul {
    flex-flow: column nowrap;
    text-align: center;
}
nav ul li{
    list-style: none;
}
nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.1em;

    display: block;
    padding: 10px 5px;
    margin: 5px;
    border: 2px white solid;
    background: #012030;
    transition: 0.1s;
    margin: 1.3em 0;
}
nav ul li a:hover {
    color: #9AEBA3;
    font-size: 1.2em;
}



@media screen and (min-width: 501px) and (max-width: 1000px) {
    .container {
        grid-template-areas: 
            "heady "
            "navvy "
            "suby "
            "aside1 "
            "mainy"
            "aside2 "
            "footy";
    }

    nav ul {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
    }

    nav ul li a {
        display: auto;
        padding: 0;
        margin: 0;
        border: none;
        background: none;
    }
}

@media screen and (min-width: 1001px) {
    .container {
        grid-template-columns: 
            2fr 3fr;
        grid-template-areas:
            "heady heady"
            "navvy navvy"
            "suby suby"
            "aside1 mainy"
            "aside2 mainy"
            "footy footy";
    }

    #aside1, #aside2 {
        padding-left: 3em;
        padding-right: 1.5em;
    }
    section {
        padding-left: 1.5em;
        padding-right: 3em;
    }

    nav ul {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
    }
    nav ul li a {
        display: auto;
        padding: 0;
        margin: 0;
        border: none;
        background: none;
    }
}