/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Copse&family=Quicksand:wght@300..700&display=swap');
/* colors */
/* #DAFDBA #9AEBA3 #45C4B0 #13678A #012030 */


*,
*:before,
*:after {
    box-sizing: border-box;
    padding: 0;
    margin: 0
}

body {
    background: #012030;
    font-size: 20px;
    color: white;
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 550;
    font-style: normal;

    transition: 0.2s;
    animation: fadeIn 0.9s;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.container {
    /* max-width: 1500px; */
    margin: 0 auto;
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 
        1fr 2fr;
    grid-template-areas:
    "heady heady"
    "navvy navvy"
    "suby suby"
    "aside1 mainy"
    "aside2 mainy"
    "footy footy";
}

header{grid-area: heady; max-height: 100%}
nav{grid-area: navvy; background: #13678A;}
#subhead{grid-area: suby; background: #9AEBA3; color: #012030;}
#else{grid-area: mainy; max-height: 100%}
#aside1{grid-area: aside1; background: #13678A;}
#aside2{grid-area: aside2; background: #13678A;}
footer{grid-area: footy; background: #9AEBA3; color: #012030;}

header, nav, section,
aside, footer {
    padding: 1.5em;
}

header, footer, #subhead, figure {
    text-align: center;
}

header {
    height: 75vh;
    overflow: hidden;
}


h1, h2, h3, h4 {
    font-family: "Caprasimo", serif;
    font-weight: 400;
    font-style: normal;
    padding: .2em 0;
}

h1 {
    font-size: 3em;
    /* padding: 0.8em;
    position: absolute;
    top: 8px;
    left: 16px; */
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.3em;
}

h4 {
    font-size: 1.1em;
}

p {
    margin: 1.8em 0;
    line-height: 1.8em;
}

img {
    object-fit: contain;
    max-width: 100%;
}

#for-head{
    opacity: 30%;
    max-width: none;
    object-fit: cover;
    width: 100%;
    object-position: top;
}


nav ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}

nav ul li{
    list-style: none;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.1em;
}



@media screen and (min-width: 501px) and (max-width: 1000px) {
    .container {
        grid-template-columns:
            1fr 1fr;
        grid-template-areas: 
            "heady heady"
            "navvy navvy"
            "suby suby"
            "aside1 mainy"
            "aside2 mainy"
            "footy footy";
    }
}

@media screen and (max-width: 500px) {
    .container {
        grid-template-columns:
            1fr;
        grid-template-areas: 
            "heady"
            "suby"
            "mainy"
            "aside1"
            "aside2"
            "navvy"
            "footy";
    }
    header{
        height: 40vh;
    }
    nav ul {
        flex-flow: column nowrap;
        text-align: center;
    }
    nav ul li a {
        display: block;
        padding: 10px 5px;
        margin: 5px;
        border: 2px white solid;
        background: #012030;
    }
}